body{
    background-color:blue;
    color:white;
}
#img
{
    text-align:center;
}
#b1{
    background-color:green;
    color:white;
    text-decoration: none;

}
#b1:hover{
    background-color:white;
    color:red;
}
#b2
{
    background-color:red;
    color:white;
    text-decoration:none;
}
#b2:hover{
    background-color:white;
    color:red;
}