.quiz-img {
  width: 400px;
  height: 400px;
  object-fit: contain;
  display: block;
  margin: 0 auto 20px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
}
body{
  background-color: blue;
  color: white;
}
a{
  text-decoration: none;
}

#playAgain{
  background-color: rgb(37, 79, 169);
  color: white;
}

#playAgain:hover{
  background-color: yellow;
  color: blue;
}

#checkAnswer{
  background-color: green;
  color: white;
}

#checkAnswer:hover{
  background-color: lightskyblue;
  color: blue;
}
